<%= stylesheet_link_tag 'login', :media => "all"%>
<% content_for(:title, t('.title'))%>
<div class="login__width">
  <div class="logo-div">
    <div class="logo"><%= image_tag 'starbuck.png', class: 'login-image' %></div>
    <div class="title"><%=t '.title' %></div>
  </div>
  <%= form_with model: @user, url: profile_path, method: :patch, local: true do |form| %>
    <%= render 'shared/error_messages', object: form.object %>
    <div class="logo-div">
      <div class="form-group">
        <%= image_tag @user.avatar.url , size: '50x50', class: 'rounded-circle logo', style: "margin: 0" %>
        <%= form.label :avatar %>
        <%= form.file_field :avatar, class: "form-control", accept: 'image/*', onchange: 'previewFileWithId(preview)',style: "padding: 8px 3px 10px 20px" %>
        <%= form.hidden_field :avatar_cache %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :email, User.human_attribute_name(:email), style: "margin: 0"%>
      <%= form.text_field :email, class: "form-control", style: "margin: 0" %>
    </div>
    <div class="form-group">
      <%= form.label :name, User.human_attribute_name(:name),style: "margin: 0" %>
      <%= form.text_field :name,class: "form-control",style: "margin: 0" %>
    </div>
    <div class="actions text-center login__button">
      <%= form.submit '送信',class: "btn btn-primary mb-3" %>
      <%= link_to '戻る', profile_path, class: 'user-information return-link'%>
    </div>
  <% end %>
</div>