<%= stylesheet_link_tag 'login', :media => "all"%>
<% content_for(:title, t('.title'))%>
<div class="login__width">
  <div class="logo-div">
    <div class="logo"><%= image_tag 'starbuck.png', class: 'login-image' %></div>
    <div class="title"><%=t '.title' %></div>
  </div>
  <div class="logo-div">
    <div class="form-group avatar-show">
      <div class="profile-detail-box mt-5">
        <%= image_tag current_user.avatar.url, size: '50x50', class: 'rounded-circle' %>
        <div class="profile-detail-content mt-2 "><%= t('.avatar') %></div>
      </div>
    </div>
  </div>
  <div class="form-group form-float">
    <div class="profile-detail-box">
      <span class="profile-detail-content"><%= t('.email')%></span>:
      <span class="mt-0"><%= current_user.email%></span>
    </div>
  </div>
  <div class="form-group form-float">
    <div class="profile-detail-box"> 
      <span class="profile-detail-content"><%= t('.name') %></span>:
      <span class="mt-0"><%= current_user.name%></span>
    </div>
  </div>          
  <div class="actions text-center login__button"> 
    <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn'%>
    <%= link_to t('defaults.retirements'), new_retirement_path, class: 'btn mt-3 mb-0' %>
  </div>
</div>