<%= stylesheet_link_tag 'cup', :media => "all"%>
<div class="top-body">
  <div class='cup__body'>
    <div class='cup-container'>
      <div class="plate"></div>
      <div class='cup'>
        <%= image_tag 'starbuck.png', class: 'cup-image' %>
        <div class="top">
          <div class="vapour">
            <span style="--i:1;"></span>
            <span style="--i:3;"></span>
            <span style="--i:16;"></span>
            <span style="--i:5;"></span>
            <span style="--i:13;"></span>
            <span style="--i:20;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:10;"></span>
            <span style="--i:8;"></span>
            <span style="--i:17;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:14;"></span>
            <span style="--i:2;"></span>
            <span style="--i:9;"></span>
            <span style="--i:15;"></span>
            <span style="--i:4;"></span>
            <span style="--i:19;"></span>
          </div>
          <div class="circle">
            <div class="tea"></div>
          </div>
        </div>
        <div class="handle"></div>
      </div>
    </div>
  </div>

  <h1 class="sentence1" data-aos="fade-up"
     data-aos-anchor-placement="center-center"
     data-aos-duration="1000"
    data-aos-delay="500" >Starbucksで</h1>

  <h1 class="sentence2" data-aos="fade-up"
     data-aos-anchor-placement="center-center"
     data-aos-duration="1000"
    data-aos-delay="1500">あなただけの一杯を見つけよう</h1>

</div>

<div class="hero_3 section_3" id="hero_3">
  <h1>My Favorite Starbucks Services</h1>
  <div class="row main">
    <div class="col-sm-4 card-box">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <i class="fas fa-search"></i>
          <h5 class="card-header">あなたの一杯を見つけよう</h5>
          <p class="card-text">みんなが投稿した色々なアレンジしたスタバが載っています。カロリーを抑えたい、さっぱりけいにアレンジしたい、などなど、みんなの投稿を見てあなたの一杯を探してみてください。</p>
          <p style="text-align: center;">
            <%= link_to "お気に入りの一杯を探す", '#', class: "btn btn-primary"%>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 card-box">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <i class="fas fa-comments"></i>
          <h5 class="card-header">お気入りの一杯を投稿しよう</h5>
          <p class="card-text">みんなの一杯を見つけたら、今度は特別な一杯を投稿してみてください。あなたのお気に入りの一杯が、他の人のお気に入りの一杯に変わるかもしれません。沢山投稿してみてください。</p>
          <p style="text-align: center;">
            <%= link_to "お気に入りの一杯を投稿する", '#', class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 card-box">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <i class="fas fa-mug-hot"></i>
          <h5 class="card-header">気分に合わせて注文しよう</h5>
          <p class="card-text">その日の気分によって注文したい商品も変わってきますよね。そう言う時は、今日の気分を診断してみてください。たった3つの質問で、あなたへの今日の一杯を見つけることができます。</p>
          <p style="text-align: center;">
            <%= link_to "今日の気分を診断する", '#', class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero_2 section_2 wrapper" id="hero_2">
  <div class="hero_2_box container">
    <h2>このサービスのコンセプト</h2>
    <h4>一緒に特別な一杯を見つけよう</h4>
    <p>
      スタバに通い始めて５年目になります。いつもコーヒーを週末に注文していましたが、自分なりのカスタマイズを加えると
      さらに美味しくなることに4年目で気づきました(笑)。このサービスを通じて、カロリー控えめの一杯や、店員さんのお薦
      めの一杯を発見して、特別な一杯を見つけられることができれば、これほど嬉しいことはありません。
    </p>
    <%= link_to "Let's start", '#', class: "btn btn-primary" %>
  </div>
</div>

<%# <script>
  const h1 = document.querySelector('.sentence1')
  h1.animate([{opacity: '0'}, {opacity: '1'}], 3000)

  const h2 = document.querySelector('.sentence2')
  h2.animate([{opacity: '0'}, {opacity: '1'}], 6000)
</script> %>
