<div class='container'>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><%= Post.human_attribute_name(:id) %></th>
            <th scope="col"><%= Post.human_attribute_name(:title) %></th>
            <th scope="col"><%= Post.human_attribute_name(:category) %></th>
            <th scope="col">作成者</th>
            <th scope="col"><%= Post.human_attribute_name(:created_at) %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @articles %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to t('defaults.new'), new_admin_article_path, class: 'btn btn-info' %><br>
</div>