<%= stylesheet_link_tag 'dignose', :media => "all"%>
<%= stylesheet_link_tag 'post', :media => "all"%>
<div id="qArea">
  <div id="qContainer">
    <div class="dignose-title">15秒で今日の一杯を見つけよう</div>
    <div class="qBox">
      <div class="ques"><span class="qNum">Q1</span>今日はどんな気分？</div>
        <div class="dig-fig-box">
          <ul  class="dig_ul">
            <li id="0_0" sc="20">新作をアレンジしたい</li>
            <li id="0_1" sc="15">甘いのが飲みたい</li>
            <li id="0_2" sc="10">さっぱりしたのが飲みたい</li>
            <li id="0_3" sc="5">苦いのが飲みたい</li>
            <li id="0_4" sc="0"></li>
          </ul>
          <div class="fig"><%= image_tag 'fig0.png', class: "fig-image" %></div>
        </div>
      </div>

        <div class="qBox">
          <div class="ques"><span class="qNum">Q2</span></div>
          <div class="dig-fig-box">
            <ul  class="dig_ul">
              <li id="1_0" sc="20">料理を作って本格朝食</li>
              <li id="1_1" sc="15">パンとスープでシンプル朝食</li>
              <li id="1_2" sc="10">サプリメントですませる</li>
              <li id="1_3" sc="5">食べない</li>
              <li id="1_4" sc="0">食べるどころか吐きそうだ...</li>
            </ul>
          <div class="fig"><%= image_tag 'fig1.png', class: "fig-image" %></div>
          </div>
        </div>
        
        <div class="qBox">
            <div class="ques"><span class="qNum">Q3</span>カロリーはオフにする？</div>
            <div class="dig-fig-box">
              <ul  class="dig_ul">
                <li id="2_0" sc="20">カロリーは気にしていない</li>
                <li id="2_1" sc="15">カロリーオフにする</li>
              </ul>
              <div class="fig"><%= image_tag 'fig2.png', class: "fig-image" %></div>
            </div>
        </div>

        <div class="qBox">
            <div id="resultBox">
                <div id="resultTitle">下へスクロールしてみてね</div>
                <div id="resultPoint"></div>
                <div id="resultLeft">
                    <div id="resultText"></div>
                    <div id="againButton"></div>
                </div>
                <div id="resultImage"></div> 
            </div>
        </div>
    </div>
</div>


<div class="result result40 container">
   <div class="row">
      <div class="col-12">
        <div class="row">
          <% @posts = Post.where(dignose_category: "おすすめ1") %>
          <% if @posts.present? %>
            <%= render @posts %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="result result20 container">
   <div class="row">
      <div class="col-12">
        <div class="row">
          <% @posts = Post.where(dignose_category: "おすすめ2") %>
          <% if @posts.present? %>
            <%= render @posts %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="result result0 container">
   <div class="row">
      <div class="col-12">
        <div class="row">
          <% @posts = Post.where(dignose_category: "おすすめ1") %>
          <% if @posts.present? %>
            <%= render @posts %>
          <% else %>
            <p><%= t('.no_result') %></p>
          <% end %>
        </div>
      </div>
    </div>
</div>


<script>	
    $(".result").hide();	
    //-----初期設定
    function initFunc(){
        selectArray = [-1,-1,-1];
        scoreArray = [0,0,0];
        qNum = selectArray.length;
    }

    function preloadFunc() {
        for(var i = 0; i< arguments.length; i++){
            $("<img>").attr("src", arguments[i]);
        }
    }

    function againFunc(){
        moveFunc(-1);
        for (var i in selectArray){
            var selectID = selectArray[i];
            $("#" + i + "_" + selectID).removeClass("selected");
        }
        initFunc();//---初期化
    }

    function quesFunc(){
        var idArray = this.id.split("_");
        var qID = Number(idArray[0]);
        var ansID = Number(idArray[1]);
        var selectID = selectArray[qID];
        if (ansID == selectID) return;
        $("#" + qID + "_" + ansID).addClass("selected");
        $("#" + qID + "_" + selectID).removeClass("selected");
        selectArray[qID] = ansID;
        moveFunc(qID);

        scoreArray[qID] =  Number($(this).attr("sc"));
        if (qID+1 >= qNum) resultFunc();
    }

    function resultFunc(){
        var totalScore = 0;
        for(var i in scoreArray){
            totalScore += scoreArray[i];
        }
        
        switch (true){
            case totalScore >= 40:
                var lv = 4;
                $(".result40").fadeIn();
                break;
            case totalScore >= 20:
                var lv = 3;
               $(".result20").fadeIn();
                break;
            case totalScore >= 10:
                var lv = 2;
                $(".result0").fadeIn();
                break;
            default:
                var lv = 0;
        }
        $("#resultPoint").text(totalScore);
        $("#resultImage").scss("background-image", "image-url('lv"+lv+".png')");
        var myData = resultArray[lv];
        $("#resultTitle").text(myData.split(",")[0]);
        $("#resultText").text(myData.split(",")[1]);
    }

    function moveFunc(vol){
        var myPos = (vol+1) * -650;
        $("#qContainer").delay(500).animate({left: myPos},500);
    }

    $(function(){
        initFunc();//---初期化
        $.get("result.csv", function(myData){resultArray = myData.split("\r\n")});
        preloadFunc("lv0.png","lv1.png","lv2.png","lv3.png","lv4.png", "againOn.png");
        $("ul>li").click(quesFunc);
        $("#againButton").click(againFunc);
    });
</script>