<%= stylesheet_link_tag 'header', :media => "all"%>
<div class="section">
  <header class='page-header'>
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag 'starbuck.png', class: 'image' %>
    <% end %>
    <button class="mobile-menu-icon" onclick="document.querySelector('body').classList.toggle('menu-open')">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav>
      <ul class='main-nav'>
        <li><%= link_to (t 'defaults.login'), login_path, class: 'li-content' %></li>
        <li><%= link_to (t 'defaults.everyone_post'), posts_path, class: 'li-content' %></li>
        <li><%= link_to (t 'defaults.use'), "#", class: 'li-content' %></li>
        <li><%= link_to (t 'defaults.post'), "#", class: 'li-content' %></li>
        <li><%= link_to (t 'defaults.post_content'), "#", class: 'li-content' %><li>
      </ul>
    </nav>
  </header>
</div>