<%= stylesheet_link_tag 'login__header', :media => "all"%>
<%= stylesheet_link_tag 'tab', :media => "all"%>
<div class='header-trigger'></div>
    <div class="section">
      <header class='login-header'>
        <div class='header__inner'>
          <%= link_to root_path, class: 'login-logo' do %>
            <%= image_tag 'starbuck.png', class: 'image' %>
          <% end %>
          <ul class="tab">
            <li><a href="#lunch"><span class="tab-span">ランチ</span></a></li>
            <li><a href="#drink"><span class="tab-span">ドリンク</span></a></li>
            <li><a href="#dinner"><span class="tab-span">ディナー</span></a></li>
          </ul>  
          <nav class="header__nav">
            <ul class='header__ul'>
              <li><%= link_to (t 'defaults.logout'), logout_path, class: 'header__li', method: :delete %></li>
              <li><%= link_to (t 'defaults.everyone_post'), posts_path, class: 'header__li' %></li>
              <li><%= link_to t('posts.likes.title'), likes_posts_path, class: 'header__li' %></li>
              <li><%= link_to t('posts.new.title'), new_post_path, class: 'header__li' %></li>
              <li><%= link_to (t 'profiles.show.title'), profile_path, class: 'header__li' %></li>
            </ul>
          </nav>
          <button class="login-mobile-menu-icon" onclick="document.querySelector('body').classList.toggle('menu-open')">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </header>

      <div id="lunch" class="area">
        <h2>ランチ</h2>
        <ul>
          <li>ガパオライス</li>
          <li>ミートソーススパゲティ―</li>
          <li>ハンバーグ定食</li>
        </ul>
      </div>

      <div id="drink" class="area">
        <h2>ドリンク</h2>
        <ul>
          <li>ウーロン茶</li>
          <li>オレンジジュース</li>
          <li>ジンジャーエール</li>
        </ul>
      </div>

      <div id="dinner" class="area">
        <h2>ディナー</h2>
        <ul>
          <li>カレーライス</li>
          <li>ドリア</li>
          <li>グラタン</li>
        </ul>
      </div>
  </div>
<%= javascript_include_tag "login__header.js" %>
<%= javascript_include_tag "tab.js" %>
