<%= stylesheet_link_tag 'dignose', :media => "all"%>
<div id="qArea">
  <div id="qContainer">
    <div class="qBox">
      <div class="ques"><span class="qNum">Q1</span>　天気の良い朝、まず起きて何をする？</div>
        <ul  class="dig_ul">
                <li id="0_0" sc="20">軽くジョギングをする</li>
                <li id="0_1" sc="15">ストレッチで目を覚ます</li>
                <li id="0_2" sc="10">テレビで情報収集</li>
                <li id="0_3" sc="5">遅刻しそうなので、すぐに出発</li>
                <li id="0_4" sc="0">２度寝する</li>
            </ul>
            <div class="fig"><%= image_tag 'fig0.png'%></div>
        </div>

        <div class="qBox">
            <div class="ques"><span class="qNum">Q2</span>　一日の元気は朝ご飯から！さて何を食べる</div>
            <ul  class="dig_ul">
                <li id="1_0" sc="20">料理を作って本格朝食</li>
                <li id="1_1" sc="15">パンとスープでシンプル朝食</li>
                <li id="1_2" sc="10">サプリメントですませる</li>
                <li id="1_3" sc="5">食べない</li>
                <li id="1_4" sc="0">食べるどころか吐きそうだ...</li>
            </ul>
            <div class="fig"><img src="fig1.png" width="240" height="260" alt=""></div>
        </div>
        
        <div class="qBox">
            <div class="ques"><span class="qNum">Q3</span>　今日も電車で通勤、会社に着くまで何をする？</div>
            <ul  class="dig_ul">
                <li id="2_0" sc="20">目を閉じて仕事の進行をイメージ</li>
                <li id="2_1" sc="15">新聞を読んで情報収集</li>
                <li id="2_2" sc="10">音楽を聴いて気持ちをリフレッシュ</li>
                <li id="2_3" sc="5">眠って体力を温存</li>
                <li id="2_4" sc="0">ただ「ぼ～っ」としている</li>
            </ul>
            <div class="fig"><img src="images/fig2.png" width="240" height="260" alt=""></div>
        </div>

        <div class="qBox">
            <div class="ques"><span class="qNum">Q4</span>　さて会社についた、まず何をする？</div>
            <ul  class="dig_ul">
                <li id="3_0" sc="20">業務のプライオリティを確認</li>
                <li id="3_1" sc="15">メールを確認</li>
                <li id="3_2" sc="10">とりあえず業務開始</li>
                <li id="3_3" sc="5">脳にエネルギー、プリンを食べる</li>
                <li id="3_4" sc="0">仕事のフリしてネットサーフィン</li>
            </ul>
            <div class="fig"><img src="images/fig3.png" width="240" height="260" alt=""></div>
        </div>

        <div class="qBox">
            <div class="ques"><span class="qNum">Q5</span>　終業30分前、さて明日のために何をする？</div>
            <ul  class="dig_ul">
                <li id="4_0" sc="20">明日のTo doリストを作成</li>
                <li id="4_1" sc="15">ギリギリまで業務に全力投球</li>
                <li id="4_2" sc="10">同僚と飲みに行く打ち合わせ</li>
                <li id="4_3" sc="5">仕事が終わらないので残業する</li>
                <li id="4_4" sc="0">なぜか、すでに帰途についている</li>
            </ul>
            <div class="fig"><img src="images/fig4.png" width="240" height="260" alt=""></div>
        </div>

        <div class="qBox">
            <div id="resultBox">
                <div id="resultTitle">実業家級サラリーマン</div>
                <div id="resultPoint">15</div>
                <div id="resultLeft">
                    <div id="resultText"></div>
                    <div id="againButton"></div>
                </div>
                <div id="resultImage"></div> 
            </div>
        </div>
    </div>
</div>
<div class="result result80">
    <% @post2 = Post.find(2) %>
    <div class="card">
      <div class="swipe">
        <% @post2.images.each do |image| %>
            <li><%= image_tag image.url, class: 'card-img-top swiper-slide-post', size: '300x300' %></li>
        <% end %>
      </div>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to @post2.title, post_path(@post2) %>
        </h4>
          <div class="post-evaluation" data-score=<%= @post2.evaluation %>></div>
          <%= render 'likes-2/like_button', post: @post2 %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= image_tag @post2.user.avatar.url , size: '20x20', class: 'rounded-circle' %>
            <%= @post2.user.name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l @post2.created_at, format: :long %>
          </li>
          <li class="list-inline-item">
            <%= @post2.category %>
          </li>
        </ul>
      </div>
    </div>
</div>



<script>	
    $(".result").hide();	
    //-----初期設定
    function initFunc(){
        selectArray = [-1,-1,-1,-1,-1];
        scoreArray = [0,0,0,0,0];
        qNum = selectArray.length;
    }

    function preloadFunc() {
        for(var i = 0; i< arguments.length; i++){
            $("<img>").attr("src", arguments[i]);
        }
    }

    function againFunc(){
        moveFunc(-1);
        for (var i in selectArray){
            var selectID = selectArray[i];
            $("#" + i + "_" + selectID).removeClass("selected");
        }
        initFunc();//---初期化
    }

    function quesFunc(){
        var idArray = this.id.split("_");
        var qID = Number(idArray[0]);
        var ansID = Number(idArray[1]);
        var selectID = selectArray[qID];
        if (ansID == selectID) return;
        $("#" + qID + "_" + ansID).addClass("selected");
        $("#" + qID + "_" + selectID).removeClass("selected");
        selectArray[qID] = ansID;
        moveFunc(qID);

        scoreArray[qID] =  Number($(this).attr("sc"));
        if (qID+1 >= qNum) resultFunc();
    }

    function resultFunc(){
        var totalScore = 0;
        for(var i in scoreArray){
            totalScore += scoreArray[i];
        }
        
        switch (true){
            case totalScore >= 80:
                var lv = 4;
                $(".result80").fadeIn();
                break;
            case totalScore >= 60:
                var lv = 3;
                break;
            case totalScore >= 40:
                var lv = 2;
                break;
            case totalScore >= 20:
                var lv = 1;
                break;
            default:
                var lv = 0;
        }
        $("#resultPoint").text(totalScore);
        $("#resultImage").scss("background-image", "image-url('lv"+lv+".png')");
        var myData = resultArray[lv];
        $("#resultTitle").text(myData.split(",")[0]);
        $("#resultText").text(myData.split(",")[1]);
    }

    function moveFunc(vol){
        var myPos = (vol+1) * -650;
        $("#qContainer").delay(500).animate({left: myPos},500);
    }

    $(function(){
        initFunc();//---初期化
        $.get("result.csv", function(myData){resultArray = myData.split("\r\n")});
        preloadFunc("lv0.png","lv1.png","lv2.png","lv3.png","lv4.png", "againOn.png");
        $("ul>li").click(quesFunc);
        $("#againButton").click(againFunc);
    });
</script>