<%= stylesheet_link_tag 'dignose2', :media => "all"%>
<div class='dignose-body'>
  <div class="choose_box container">   
    <div id="q_01" class="fit dignose-box-out">
        <div class="dignose-q1">質問2 <span class="today-feel">ティー系を選んだあなたへ</span></div>
        <div class='dignose-home-image'>
          <%= image_tag 'starbucks-dog-3.jpg', class: 'dignose-image' %>
        </div>
        <div class="dignose-box-outline row">
          <div class="dignose-box col-md-4 col-sm-12"><%= link_to '甘い', no_coffee_sweet_path%></div>
          <div class="dignose-box col-md-4 col-sm-12"><%= link_to 'さっぱり',no_coffee_cool_path%></div>
          <div class="dignose-box col-md-4 col-sm-12"><%= link_to 'スパイシー', no_coffee_spicy_path%></div>
        </div>
    </div>
  </div>
</div>