<% content_for(:title, @post.title) %>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1><%= t '.title' %></h1>
        <%= form_with model: @post, url: admin_post_path(@post), local: true do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="form-group">
            <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :arrange_content %>
          <%= f.text_area :arrange_content, class: 'form-control', rows: 10 %>
        </div>
        <div class="form-group">
          <%= f.label :one_point %>
          <%= f.text_field :one_point, class: 'form-control', rows: 10 %>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: 'form-control', rows: 10 %>
        </div>
        <div class="form-group">
          <%= f.label :category, 'カテゴリー' %>
          <%= f.select :category, {'あっさり系': "あっさり系", 'さっぱり系': 'さっぱり系','甘い系': '甘い系','カロリーオフ系': 'カロリーオフ系'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        </div>
        <div class="form-group">
          <%= f.label :images %>
          <%= f.file_field :images, class: 'form-control', rows: 10, multiple: true, accept: 'image/*' %>
          <%= image_tag @post.image.url, id: :img_prev, size: '200x200' %>
        </div>
        <div class="form-group" id="star">
          <%= f.label :evaluation, class:"" %>
          <%= f.hidden_field :evaluation, id: :review_star %>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[evaluation]',   
          half: true,
        });
      </script>
    </div>
  </div>
</div>

