<%= stylesheet_link_tag 'post_form', :media => "all"%>
<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :arrange_content, class: 'form-content' %>
    <%= f.text_area :arrange_content, class: 'form-control', size: "20x10" %>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'form-content'%>
    <%= f.number_field :price, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <%= f.label :one_point, class: 'form-content'%>
    <%= f.text_field :one_point, class: 'form-control', rows: 10 %>
  </div>
  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :admin_category, '管理者カテゴリー', class: 'form-content'%>
      <%= f.select :admin_category, {'管理者': "管理者", '現役スタバ店員': '現役スタバ店員','元スタバ店員': '元スタバ店員','スタ犬くん': 'スタ犬くん'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
    </div>
     <div class="form-group">
      <%= f.label :dignose_category, '管理者カテゴリー/診断メニューへ飛ばされます', class: 'form-content'%>
      <%= f.select :dignose_category, {'おすすめ1': "おすすめ1", 'おすすめ2': 'おすすめ2','おすすめ3': 'おすすめ3'}, { include_blank: '選択してください'}, { class: 'form-control' , required: false } %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :category, 'カテゴリー', class: 'form-content'%>
    <%= f.select :category, {'あっさり系': "あっさり系", 'さっぱり系': 'さっぱり系','甘い系': '甘い系','カロリーオフ系': 'カロリーオフ系'}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  <div class="form-group">
    <%= f.label :images, class: 'form-content'%>
    <%= f.file_field :images, class: 'form-control', rows: 10, multiple: true, accept: 'image/*' %>
    <%= f.hidden_field :board_image_cache %>
    <% post.images.each do |image| %>
      <%= hidden_field :post, :images, multiple: true, value: image.identifier %>
    <% end %>
  </div>
  <div class="form-raty">
    <div class="form-raty-content", id="star">
      <%= f.label :evaluation, class:"" %>
      <%= f.hidden_field :evaluation, id: :review_star %>
    </div>
  </div>
  <%= f.submit class: 'btn btn-primary post-btn' %>
<% end %>

<script>
  $('#star').raty({
     size     : 36,
     starOff:  '<%= asset_path('star-off.png') %>',
     starOn : '<%= asset_path('star-on.png') %>',
     starHalf: '<%= asset_path('star-half.png') %>',
     scoreName: 'post[evaluation]',   
     half: true,
   });
</script>

