<%= stylesheet_link_tag 'post__index', :media => "all"%>
<% content_for(:title, t('.title')) %>
<div id="global-container">
     <div id="container">
       <div id="content">
         <div class="hero">
           <div class="swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="hero__title">Enjoy Starbucks</div>
                    <%= image_tag 'image-1.jpg'%>
                  </div>
                  <div class="swiper-slide">
                    <div class="hero__title">Search Cups</div>
                    <%= image_tag 'image-2.jpg'%>
                  </div>
                  <div class="swiper-slide">
                    <div class="hero__title">Favorite Cups</div>
                    <%= image_tag 'image-3.jpg'%>
                  </div>
                </div>
                <div class='hero__footer'>
                  <%= image_tag 'arrow.svg', class: 'footer__downarrow' %>
                  <span class='hero__scrolltext'>scroll</span>
                </div>
              </div>  
           </div>
         </div>
       </div>
     </div>
<div class="container pt-3">
   <!-- 掲示板一覧 -->
   <div class="row sarch_form-box-out">
  <div class="col-lg-10 offset-lg-1 sarch_form-box">
    <!-- 検索フォーム -->
    <%= render 'search_form', url: posts_path %>
  </div>
</div>
   <div class="row">
     <div class="col-12">
       <div class="row">
         <% if @posts.present? %>
           <%= render @posts %>
         <% else %>
           <p><%= t('.no_result') %></p>
         <% end %>
       </div>
       <%= paginate @posts %>
     </div>
   </div>
 </div>
 <%= javascript_include_tag "post__index.js" %>
 