<!DOCTYPE html>
<html>
  <head>
    <title>My Favorite Starbuck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="global-container">
      <div class="header-container">
        <div class="mobile-menu__cover">
          <% if logged_in? %>
            <%= render 'shared/header' %>
          <% else %>
            <%= render 'shared/before_login_header' %>
          <% end %>
          <%= render 'shared/flash' %>
          <%= yield %>
          <%= render 'shared/footer' %>
        </div>
      </div>
      <nav class="mobile-header__nav">
        <ul class='mobile-header__ul'>
          <% if logged_in? %>
            <li><%= link_to (t 'defaults.logout'), logout_path, class: 'mobile-header__li', method: :delete %></li>
          <% else %>
            <li><%= link_to (t 'defaults.login'), login_path, class: 'mobile-header__li' %></li>
          <% end %>
            <li><%= link_to (t 'defaults.everyone_post'), posts_path, class: 'mobile-header__li' %></li>
            <li><%= link_to (t 'defaults.use'), "#", class: 'mobile-header__li' %></li>
            <li><%= link_to t('posts.new.title'), new_post_path, class: 'mobile-header__li' %></li>
        </ul>
      </nav>
    </div>
  </body>
</html>