<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= stylesheet_link_tag 'button-back-slide', :media => "all"%>
    <%= stylesheet_link_tag 'button-border-slide', :media => "all"%>
    <div class="global-container">
      <div class="header-container">
        <div class="mobile-menu__cover">
          <% if logged_in? %>
            <%= render 'shared/header' %>
          <% else %>
            <%= render 'shared/before_login_header' %>
          <% end %>
          <%= render 'shared/flash' %>
          <%= yield %>
          <div class='top-footer'><%= render 'shared/footer' %></div>
        </div>
      </div>
      <nav class="mobile-header__nav">
        <ul class='mobile-header__ul'>
          <% if logged_in? %>
            <li><%= link_to (t 'defaults.logout'), logout_path, class: 'mobile-header__li', method: :delete %></li>
            <li><%= link_to t('posts.likes.title'), likes_posts_path, class: 'mobile-header__li' %></li>
            <li><%= link_to (t 'profiles.show.title'), profile_path, class: 'mobile-header__li' %></li>
          <% else %>
            <li><%= link_to (t 'defaults.login'), login_path, class: 'mobile-header__li' %></li>
          <% end %>
            <li><%= link_to (t 'defaults.everyone_post'), posts_path, class: 'mobile-header__li' %></li>
            <li><%= link_to t('posts.new.title'), new_post_path, class: 'mobile-header__li' %></li>
            <li><%= link_to t('articles.title'), articles_path, class: 'mobile-header__li' %></li>
            <li><%= link_to '30秒診断', dignoses_path, class: 'mobile-header__li' %></li>
        </ul>
      </nav>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>